awswrangler==3.14.0
Faker==39.0.0
boto3==1.42.79
isort==7.0.0
gspread==6.2.1
apache-airflow[amazon]==3.0.6
psycopg2-binary==2.9.11
apache-airflow-providers-google 
apache-airflow-providers-postgres
